/*---------ARTICLES PAGE---------*/

.article-container {
  padding: 20px 20px 0 20px;

  .cover-article {

    .carousel {
      width: 100%;
      height: 255px;
      margin-bottom: 15px;
      border-radius: 10px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      .indicator {
        display: none;
        z-index: 1;
      }

      button {
        background: none;
        border: none;
        position: absolute;
        width: 50px;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img {
          width: 12px;
          height: 20px;
        }
      }
      .left-carousel-btn {
        left: 10px;
        z-index: 1;
      }
      .right-carousel-btn {
        right: 10px;
        z-index: 1;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      /*--------------CAROUSEL/ANIMATION----------------*/

      .carousel-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transition: opacity 0.5s;
      }

      .carousel-image.active {
        opacity: 1;
      }
    }
  }

  .info {

    h1 {
      font-size: $article-title-text-size;
      font-weight: $articles-title-text-weight;
      color: $articles-title-text-color;
      margin: 0 0 10px 0;
    }

    h2 {
      margin: 0 0 10px 0;
      font-size: $location-text-size;
      font-weight: $location-text-weight;
      color: $location-text-color;
    }

    .tags {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;

      .tag {
        min-width: 95px;
        height: 25px;
        padding: 0 15px 0 15px;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        background-color: #FF6060;
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
          color: $tag-text-color;
          font-size: $tag-text-size;
          font-weight: $tag-text-weight;
        }
      }
    }
  }
  .user-score {
    width: 100%;
    margin: 15px 0 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .score{
      min-width: 130px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    .rating-star {
      width: 20px;
      height: 20px;

    }

    .host {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      h3 {
        margin: 0 12px 0 0;
        padding: 0;
        font-weight: $username-text-weight;
        font-size: $username-text-size;
        color: $username-text-color;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 25px;
      }
    }
  }
}

.precisions {
  margin-bottom: 30px;
}