/*------FONT SIZES-------*/
$nav-text-size: 12px;
$nav-text-size-D: 24px;
$nav-text-color: #ff6060;
$nav-text-weight: 500;

$banner-text-size: 24px;
$banner-text-size-D: 48px;
$banner-text-color: white;
$banner-text-weight: 500;

$card-title-text-size: 18px;
$card-text-color: white;
$card-text-weight: 500;

$article-title-text-size: 18px;
$article-title-text-size-D: 36px;
$articles-title-text-color: #ff6060;
$articles-title-text-weight: 500;

$location-text-size: 14px;
$location-text-size-D: 18px;
$location-text-color: #ff6060;
$location-text-weight: 500;

$username-text-size: 12px;
$username-text-size-D: 18px;
$username-text-color: #ff6060;
$username-text-weight: 500;

$tag-text-size: 10px;
$tag-text-size-D: 14px;
$tag-text-color: white;
$tag-text-weight: 400;

$accordion-btn-text-size: 13px;
$accordion-btn-text-size-D: 24px;
$accordion-text-size: 12px;
$accordion-text-size-D: 18px;
$accordion-btn-text-color: white;
$accordion-text-color: #ff6060;
$accordion-btn-text-weight: 500;
$accordion-text-weight: 500;

$error-text-size: 96px;
$error-text-size-D: 288px;
$error-text-color: #ff6060;
$error-text-weight: 700;

$error-description-text-size: 18px;
$error-description-text-size-D: 36px;
$error-description-text-color: #ff6060;
$error-description-text-weight: 500;

$error-link-text-size: 14px;
$error-link-text-size-D: 18px;
$error-link-text-color: #ff6060;
$error-link-text-weight: 500;

$footer-text-size: 12px;
$footer-text-size-D: 24px;
$footer-text-color: white;
$footer-text-weight: 500;


/*--------FONT FAMILY----*/

$family: 'Montserrat', sans-serif;

